@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Book Basic'), local('GentiumBookBasic'), url(IRFxB2matTxrjZt6a3FUnsiUQA3_wO-qQTJfqhvSKS0.woff) format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: normal;
  font-weight: 700;
  src: local('Gentium Book Basic Bold'), local('GentiumBookBasic-Bold'), url(T2vUYmWzlqUtgLYdlemGnVIi2N2FDuziJMXLp6dUo54.woff) format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: italic;
  font-weight: 400;
  src: local('Gentium Book Basic Italic'), local('GentiumBookBasic-Italic'), url(qHqW2lwKO8-uTfIkh8FsUfrqj88NXfAsM1m2qetzTrY.woff) format('woff');
}
@font-face {
  font-family: 'Gentium Book Basic';
  font-style: italic;
  font-weight: 700;
  src: local('Gentium Book Basic Bold Italic'), local('GentiumBookBasic-BoldItalic'), url(632u7TMIoFDWQYUaHFUp5HLdHZVRci2HdkkDqhT5urM.woff) format('woff');
}

